{% extends 'basic.html' %}
{% block title %} Home Page {% endblock %}
{% block body %}
<a href="/login_page/">
    <button> Administration Login</button>
</a>
<a href="/">

</a>
    <br>
<div align="center">
    email = a@vitbhopal.ac.in <br>
    otp = 123456
</div>
<div align="center" style="border:1px solid;width:50%;margin-left: auto;margin-right: auto;">
    <form action="/submit_complain/" method="post" id="complainForm" > {%csrf_token%}
        <table cellpadding="10">
            <tr>
                <td id="message" colspan="2"></td>
            </tr>
            <tr>
                <td>Email Address</td>
                <td>
                    <input type="email" id="email" placeholder="Enter your email address" name="email">
                </td>
            </tr>
            <tr id="otpRow" hidden>
                <td rowspan="2">OTP</td>
                <td>
                    <input type="text" id="otp"><br>
                    <br>
                    <p id="otp-text"></p>
                </td>
            </tr>
            <tr id="otpButtonRow" hidden>
                <td>
                    <button type="button" onclick="verifyOTP()">Verify OTP</button>
                    <button type="button" disabled id="resend-button" onclick="validateEmail()"></button>
                </td>
            </tr>
            <tr>
                <td align="center" colspan="2">
                    <button type="button" onclick="validateEmail()" id="validate-button"> Validate Email</button>
                </td>
            </tr>
            <tr hidden class="verifiedFrom">
                <td>Full Name</td>
                <td><input type="text" name="full_name" placeholder="Full Name"></td>
            </tr>
            <tr hidden class="verifiedFrom">
                <td>Registration Number</td>
                <td><input type="text" name="reg_no" placeholder="Registration Number"></td>
            </tr>
            <tr hidden class="verifiedFrom">
                <td>Branch</td>
                <td>
                    <select name="branch" class="select_2">
                        <option>Select Branch</option>
                        {% for i in branches %}
                        <option value="{{i}}">{{i|title}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr hidden class="verifiedFrom">
                <td>Complaint</td>
                <td><textarea name="message"></textarea></td>
            </tr>
            <tr hidden class="verifiedFrom">>
                <td colspan="2" align="center"><button type="button" onclick="submitForm()" >Submit</button></td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}