.header{
    height:10vh;
    background:#2980b9;
}
.header p{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size:20px;
    color:white;

}
.main{
    height:77vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.complaint-form,.search-ticket,.login-form{
    box-shadow: 10px 10px grey;
    border:2px solid;
    width:50%;
    border-radius:5px;
    padding:10px 0px;
}
.login-form{
    margin-top:100px;
}
a{
    text-decoration:none;
}
.success{
    color:#0cf00c;
}
.error{
    color:red;
}
input[type=email],input[type=text],input[type=password]{
    padding:5px;
    border-radius:5px;
}
input[type=email]:hover{
    border:2px solid #007bff;
}
input[type=text]:focus{
    border:2px solid #007bff;
}
input[type=email]:focus{
    border:2px solid #007bff;
}
input[type=password]:focus{
    border:2px solid #007bff;
}
.button-blue{
    padding:5px 10px;
    border-color: #007bff;
    border-radius:5px;
    color: #007bff;
    background-color: transparent;
    background-image: none;
    font-size:18px;
}
.button-blue:hover{
    border:2px solid #007bff;
    color:white;
    background-color:#007bff;
}
.button-blue:focus{
    border:3px solid #007bff;
}
th{
    font-size:22px;
}